body {
	margin-top: 0;
	font-family: $font-family-sans-serif;
	background: $eggplant; // footer
}

// Links
// -------
.main-text, .home-banner {
	a {
		color: $gray-dark;
		border-bottom: 1px dotted #999;
	}
	a:hover,
	a:active,
	a:focus {
		text-decoration: none;
		border-bottom: 1px solid #999;
		background: $gray-pale;
	}
}

// Typography
// ------------

.main-text {
	padding-bottom: 3em;
	p, li {
		font-size: 16px;
		line-height: 1.6em;
	}
	li {
		margin-bottom: .25em;
	}
	h3,
	.new-item h2 {
		margin: 1em 0 .4em;
		line-height: 1.25em;
	}
	h4 {
		font-size: 21px;
		margin: 1em 0 .5em;
		line-height: 1.25em;
	}
	footer {
		color: $gray-dark;
		padding: 0;
	}
	.new-item h2 {
		font-size: 24px;
	}
}
.page-header {
	color: $burgundy;
	font-weight: 300;
}
.complementary {
	li {
		font-size: 18px;
	}
}