body {
	margin-top: 0;
	font-family: $font-family-sans-serif;
	background: white; // footer
}

// Links
// -------
.main-text, .home-banner {
	a {
		color: $gray-dark;
		text-decoration: underline;
	}
}

// Typography
// ------------

.main-text {
	padding-bottom: 3em;
	p, li {
		font-size: 16px;
		line-height: 1.6em;
	}
	h3 {
		margin-top: 1em;
		margin-bottom: .25em;
	}
}
.page-header {
	border-bottom: 1px dotted $warm-gray;
}
.complementary {
	li {
		font-size: 18px;
	}
}