// Cornell brand
// .cornell-brand {
// 	.container {
// 		background: $cornell-red;
// 	}
// }

// Library brand
.library-brand {
	margin: 1em 0;
}
.culbrand {
	font-family: $font-family-cul;
	display: block;
}
.culbrand:hover {
	text-decoration: none;
}
.culbrand--cul,
.culbrand--cul:hover {
	font-size: 20px;
	display: inline-block;
	color: $medium-gray;
	margin-top: .3em;
}
.culbrand--music,
.culbrand--music:hover {
	text-transform: uppercase;
	font-size: 26px;
	line-height: 1.1em;
	color: $dark-gray;
}
.cu-insignia {
	float: left;
	margin-right: 1em;
	img {
		width: 100px;
		height: auto;
	}
}

// MEDIA QUERIES
// -------------------------

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	// .library-brand {
	// 	margin: 3em 0;
	// }
	// .culbrand--cul {
	// 	font-size: 20px;
	// }
	// .culbrand--music {
	// 	font-size: 40px;
	// 	line-height: 1.1em;
	// }
}

// /* Medium devices (desktops, 992px and up) */
// @media (min-width: $screen-md) {
// }
// /* Large devices (desktops, 1200px and up) */
// @media (min-width: $screen-lg) {
// }