// Home page
// ----------------
.home-banner, .home-content {
	h2 {
		font-size: 24px;
		color: $burgundy;
		margin-top: 0;
	}
}
.home-banner {
	p, li {
		font-size: 16px;
	}
	.well {
		background: rgba(255,255,255,.8);
		border: 0;
		margin: 2em 0 0 0;
		padding: 2em 2em 2.5em 2em;
	}
}
.catalog-search {
	margin-bottom: 2em;
	.form-group {
		width: 100%;
	}
	.input-group {
		width: 100%;
	}
	.btn {
		background: none;
	}
	.glyphicon {
		font-size: 20px;
		color: $teal;
		padding-top: 0;
	}
	input {
		border-radius: 0;
	}
}
.today-hours {
	background: $eggplant;
	opacity: .6;
	border-radius: 3px;
	color: white;
	margin-top: 2em;
	padding: 10px;
	width: 80%;
}
.hours-col-loc {
	display: none !important; 
}
.hours-col-time {
	font-size: 20px;
}
.home-banner {
	.today-hours {
		h2 {
			font-size: 16px;
			color: white;
			font-weight: 300;
			margin: .4em 1em .25em 0;
		}
	}
}
.home-search {
	margin-top: 1em;
}

// List of links blocks
.list-links {
	ul {
		list-style: none;
		padding-left: 0;
		ul {
			padding-left: 1.5em;
			margin-top: .25em;
		}
	}
	li {
		margin-bottom: .25em;
		font-size: 16px;
	}
	.field li:before, .view-content li:before {
		// Add font awesome chevron-right
		content: "\f054";
		font-family: FontAwesome;
		margin-right: .5em;
		color: $teal;
		font-size: 12px;
	}
}

// Top search box
// -----------------
.region-search {
	.btn {
		background: none;
		border: 0;
		padding-top: 4px;
		padding-right: 0;
	}
	.glyphicon {
		color: $teal;
		font-size: 24px;
	}
}


// Footer
// --------
.footer-block {
	margin-top: 2em;
}

// Wells
// --------
.well {
	border-radius: 0;
	box-shadow: none;
}

// Buttons
// --------
// .btn-math {
// 	background: $cornell-red;
// 	border-color: $cornell-red;
// 	color: white;
// 	font-family: $font-family-cul;
// 	text-transform: uppercase;
// 	font-size: 14px
// 	i {
// 		margin-left: .5em;
// 	}
// }
// .btn-math:hover,
// .btn-math:active,
// .btn-math:focus {
// 	background: $red-dark;
// 	border-color: $red-dark;
// 	color: white;
// }

// Breadcrumbs
// --------------
.breadcrumb {
	background-color: inherit;
	padding: 0;
	font-size: 12px;
}

// SAML login link placement
// ---------------------------
.simplesamlphp-auth-login-link {
	margin-bottom: 2em;
	display: inline-block;
}

// Pagination
// ------------
.pagination > li > a {
	color: $dark-gray;
}
.pagination > .active > a,
.pagination > .active > a:hover {
	background-color: $burgundy;
	border-color: $burgundy;
}

// Jump links
// ------------
.jump-links {
	h3 {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
		color: $burgundy;
		margin: 0 0 1em 0;
	}
}

// MEDIA QUERIES
// -------------------------

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.feature {
		.block-title {
			font-size: 20px;
		}
	}
	// Multi-column list
	// -------------------
	#columns {
	    -moz-column-count: 3;
	    -moz-column-gap: 20px;
	    -webkit-column-count: 3;
	    -webkit-column-gap: 20px;
	    column-count: 3;
	    column-gap: 20px;
	}
	.home-search {
		border-left: 1px solid $teal;
		padding-left: 2em;
		padding-bottom: 1em;
		margin-top: 0;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.feature {
		.block-title {
			font-size: 26px;
		}
	}
	.home-banner {
		.today-hours {
			h2 {
				float: left;
			}
		}
	}
}
/* Large devices (desktops, 1200px and up) */
@media (min-width: $screen-lg) {
	.feature {
		.block-title {
			font-size: 30px;
		}
	}
}