// Main content
// --------------
.main-content {
	background: white;
	padding-top: 2em;
}

// Home page
// ------------
// Hide page title
.path-frontpage {
	.main-text {
		background: url("../images/statue.png") no-repeat 7em bottom;
		background-size: contain;
	}
	.page-header {
		display: none;
	}
}
.home-primary {
	margin-bottom: 2em;
}
.home-secondary {
	.view-header {
		font-weight: 700;
		margin-bottom: .5em;
	}
	.view-music-library-new-books {
		margin-bottom: 1em;
	}
}

// Home page feature blocks
// .feature {
// 	@include make-sm-column(4);
// 	margin-bottom: 2em;
// }


// Music footer
// -------------
.footer-music {
	color: white;
	background: $burgundy;
	background: rgba(106,56,70,1);
	background: -moz-linear-gradient(top, rgba(106,56,70,1) 0%, rgba(55,28,36,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(106,56,70,1)), color-stop(100%, rgba(55,28,36,1)));
	background: -webkit-linear-gradient(top, rgba(106,56,70,1) 0%, rgba(55,28,36,1) 100%);
	background: -o-linear-gradient(top, rgba(106,56,70,1) 0%, rgba(55,28,36,1) 100%);
	background: -ms-linear-gradient(top, rgba(106,56,70,1) 0%, rgba(55,28,36,1) 100%);
	background: linear-gradient(to bottom, rgba(106,56,70,1) 0%, rgba(55,28,36,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$burgundy', endColorstr='$dark-burgundy', GradientType=0 );
	padding: 2em 0;
	h2 {
		font-family: $font-family-cul;
		text-transform: uppercase;
		font-size: 18px;
		margin-top: 0;
	}
	h3 {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
		margin-top: 0;
	}
	a {
		color: white;
		text-decoration: underline;
		font-size: 14px;
	}
	.navbar-nav > li > a {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	li > a:hover {
		background: inherit;
		text-decoration: underline;
	}
	i {
		color: $cornell-red;
	}
	li, p {
		font-size: 12px;
	}
	li {
		border-left: 1px solid #914f62;
	}
	li:first-child {
		border-left: 0;
		a {
			padding-left: 0;
		}
	}
	.well {
		background: #623441;
		border: 0;
		h2 {
			font-size: 16px;
		}
	}
}

// CUL footer
// -------------
footer {
	padding: 2em  0;
	font-size: 12px;
	color: white;
	h2 {
		font-family: $font-family-cul;
		text-transform: uppercase;
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 1em;
	}
	p:last-child {
	 	margin-bottom: 1em;
	}
	a, a:hover {
		color: white;
		text-decoration: underline;
	}
}

// Search page
// -------------
.well--search {
	margin-top: 2em;
	.form-group {
		margin-bottom: 0;
	}
}


// MEDIA QUERIES
// -------------------------

/* Small devices (tablets, 768px and up) */
// @media (min-width: $screen-sm) {
// 	.sidebar {
// 		margin-top: 0;
// 	}
// 	.feature {
// 		.block-title {
// 			font-size: 18px;
// 			i {
// 				font-size: 18px;
// 			}
// 		}
// 	}
// }

// /* Medium devices (desktops, 992px and up) */
// @media (min-width: $screen-md) {
// 	.feature {
// 		.block-title {
// 			font-size: 24px;
// 			i {
// 				font-size: 24px;
// 			}
// 		}
// 	}
// }
// /* Large devices (desktops, 1200px and up) */
// @media (min-width: $screen-lg) {
// 	.feature {
// 		.block-title {
// 			font-size: 26px;
// 			i {
// 				font-size: 36px;
// 			}
// 		}
// 	}
// }