// Secondary links
// ----------------
.secondary-links {	
	.nav {
		float: right;
		background: $gray-pale;
		margin-bottom: 2em;
		li {
			float: left;
		}
		a {
			font-size: 14px;
			color: $dark-gray;
		}
		a:hover {
			background: $teal;
			color: white;
		}

	}
}

// .region-search {
// 	clear: both;
// }


// Top nav bar 
// --------------
.navigation-bar {
	background: white;
	border-bottom: 10px solid $gray-pale;
}
.navbar {
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
}
header.navbar {
	min-height: auto;
}
#superfish-main {
	margin-left: 6.5em;
}
.sf-menu {
	a {
		color: $gray-dark;
		font-size: 16px;
	}
	a:hover {
		text-decoration: none;
		background: $gray-pale;
	}
	ul {
		a {
			font-size: 14px;
			background: $gray-pale;
		}
	}
	.is-active {
		background: $gray-pale;
	}
	a.menuparent:after {
		content: "\f078";
		font-family: FontAwesome;
		margin-left: .5em;
		font-size: 90%;
		color: $teal;
	}
}
// Don't add a duplicated chevron on mobile accordion nav
.sf-menu.sf-accordion {
	ul {
		a.menuparent:after {
			content: "";
			margin-left: 0;
		}
	}
}
ul.sf-menu li:hover > ul,
ul.sf-menu li.sfHover > ul {
	top: 3.4em;
}

// Sidebar menu
// --------------
.sidebar {
	h2 {
		font-size: 14px;
		color: $burgundy;
		text-transform: uppercase;
		margin-top: 0;
		font-weight: 700;
	}
	.navbar-nav {
		float: none;
		margin-bottom: 2em;
		padding-bottom: 1em;
		border-bottom: 10px solid $gray-pale;
		li {
			float: none;
		}
		a {
			color: $gray-dark;
		}
		a:before {
			// Add font awesome chevron-right
			content: "\f054";
			font-family: FontAwesome;
			margin-right: .5em;
			color: $teal;
			font-size: 12px;
		}
	}
	.navbar-nav > li > a {
		padding: 5px 0;
	}
	.block {
		margin-bottom: 2em;
	}

}

// Mobile menu button
// -------------------
.sf-accordion-toggle {
	padding: 10px 15px;
	a {
		color: white;
		text-transform: uppercase;
		display: block;
	}
	a:after {
		font-family: FontAwesome;
		content: "\f0c9";
		margin-left: .5em;
		font-size: 90%;
	}
	a:hover, a:active, a:focus {
		text-decoration: none;
	}
}

// Math footer nav
// -----------------
.footer_math {
	li {
		float: none;
	}
	.nav > li > a {
		padding: 3px 0;
		color: $link-primary;
		text-decoration: underline;
	}
	.nav > li > a:hover {
		background: inherit;
	}
}

// Collected Works A-Z index
// ---------------------------
.works-index {
	margin-bottom: 1em;
	a {
		background: $border-color;
		margin-bottom: 4px;
	}
}

// MEDIA QUERIES
// -------------------------

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	header.navbar {
		padding-left: 0;
	}
}

// /* Medium devices (desktops, 992px and up) */
// @media (min-width: $screen-md) {
// }
// /* Large devices (desktops, 1200px and up) */
// @media (min-width: $screen-lg) {
// }

