// TO DO: clean up what is not used:
// colors
$cornell-red: #b31b1b;
$red-dark: #8c0606;
$light-blue: #89cce2;
$blue: #0068ac;
$warm-gray: #a2998b;
$warm-gray-dark: #5b554c;
$warm-gray-light: #c0b7a9;
$gold: #d78b08;
$gray-dark: #222222;
$border-color: #dddddd;


// music colors
$medium-gray: #888183;
$dark-gray: #564d4a;
$burgundy: #6a3846;
$teal: #64afb8;
$gray-pale: #f2efee;

// fonts
$font-family-cul: 'Montserrat', sans-serif;